@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body input[type="text"], body input[type="date"] {
    color: #000000;
    background-color: #fff;
}


body input[type="text"]:focus,
body input[type="date"]:focus {
  color: rgb(var(--foreground-rgb));
  background-color: #fff; /* This sets the background to white when input is focused */
}
body {
  background-color: red;
}

body input[type="text"]:focus, body input[type="date"]:focus {
    color: #000000;
}
